#chrissmassTree {
  width: 500px;
  height: 380px;
  /* height: 400px; */
  top: 10px;
  margin: 0 auto;
  position:relative;
}

#chrissmassTreeImg {
  width: 500px;
  height: 300px;
  top: 30px;
  object-fit: contain;
}

#supportMessage, #clickToStartOrRetry, #retryMessage {
  font-size: 20pt;
}

#textArea {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  position:relative;
}

#typingArea {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  position:relative;
}

#word {
  font-size: 24pt;
}

#typedText {
  font-size: 18pt;
  text-align: center;
}

#typed {
  color: gray;
}

#message {
  width: 300px;
  margin: 0 auto;
  position:relative;
}
