#chrissmassTree {
  width: 400px;
  height: 400px;
  top: 20px;
  margin: 0 auto;
  position:relative;
}

#chrissmassTreeImg {
  width: 250px;
  height: 300px;
  top: 30px;
  object-fit: contain;
}

#supportMessage {
  font-size: 24pt;
}

#retryMessage {
  font-size: 24pt;
}

#textArea {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  position:relative;
}

#typingArea {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  position:relative;
}

#word {
  font-size: 24pt;
}

#typedText {
  font-size: 18pt;
  text-align: center;
}

#typed {
  color: gray;
}

#message {
  width: 300px;
  margin: 0 auto;
  position:relative;
}
